/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import "./material-theme";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  height: auto;
  margin: 0;
  overflow: auto;
}

html, body, app-root {
  height: 100%;
  width: 100%;
  margin: 0;
}
